
Test/x64/Debug/Base.log
Test/x64/Debug/Test.Build.CppClean.log
Test/x64/Release/Base.log
Test/x64/Release/main.obj
Test/x64/Release/Test.exe
Test/x64/Release/Test.iobj
Test/x64/Release/Test.ipdb
Test/x64/Release/Test.pdb
Test/x64/Release/Test.tlog/CL.command.1.tlog
Test/x64/Release/Test.tlog/CL.read.1.tlog
Test/x64/Release/Test.tlog/CL.write.1.tlog
Test/x64/Release/Test.tlog/link.command.1.tlog
Test/x64/Release/Test.tlog/link.read.1.tlog
Test/x64/Release/Test.tlog/link.write.1.tlog
Test/x64/Release/Test.tlog/Test.lastbuildstate
Test/x64/Release/vc140.pdb
Test/x64/Debug/main.obj
Test/x64/Debug/Test.exe
Test/x64/Debug/Test.ilk
Test/x64/Debug/Test.pdb
Test/x64/Debug/Test.tlog/CL.command.1.tlog
Test/x64/Debug/Test.tlog/CL.read.1.tlog
Test/x64/Debug/Test.tlog/CL.write.1.tlog
Test/x64/Debug/Test.tlog/link.command.1.tlog
Test/x64/Debug/Test.tlog/link.read.1.tlog
Test/x64/Debug/Test.tlog/link.write.1.tlog
Test/x64/Debug/Test.tlog/Test.lastbuildstate
Test/x64/Debug/vc140.idb
Test/x64/Debug/vc140.pdb
Test/chess_test_log.txt
Test/chess_test_log.txt
